<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>DiagnoseDetect</title>
</head>

<body>
    <div class="container">
        <h1>
            Welcome!
        </h1>
        <p>
            To start the diagnostic process, please select the condition you would like to investigate. Choose one of
            the options below and click to proceed.
            Thank you for choosing our online diagnostic service.
        </p>

        <div class="diseaseBox" id="Cervical Cancer">
            <h2>
                Cervical Cancer
            </h2>
            The application provides diagnoses in the following categories:<br><br>
                <div style="font-style: italic; color: lightgrey">
                    Dyskeratotic<br>
                    Koilocytotic<br>
                    Metaplastic<br>
                    Parabasal<br>
                    Superficial-Intermediate
                </div>
       </div>
        <div class="diseaseBox" id="Ocular Diseases">
            <h2>
                Ocular Diseases
            </h2>
            The application provides diagnoses in the following categories:<br><br>
                <div style="font-style: italic; color: lightgrey">
                    Normal<br>
                    Cataract<br>
                    Glaucoma<br>
                    Myopia
                </div>
        </div>
        <button class="button" onclick="window.location.href='/'">
            Return to Homepage
        </button>
    </div>
</body>

<script>
        var boxes = document.querySelectorAll('.diseaseBox');
        boxes.forEach(function(box) {
            box.addEventListener('click', function() {
                var boxId = this.getAttribute('id');
                window.location.href = 'get_diagnosed.html?category=' + boxId;
            });
        });
</script>

</html>