body {
    font-family: "Book Antiqua";
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://media.istockphoto.com/id/183814871/photo/cells-under-microscope.jpg?s=612x612&w=0&k=20&c=mFG9HEBOPXIucXzsUKm9im_Nf7IxEwG__vYKJjOHndc=');
    background-size: cover; /* Asigură că imaginea se va întinde pentru a umple întreaga suprafață a fundalului */
    background-position: center; /* Poziționează imaginea în centrul fundalului */
    background-repeat: no-repeat; /* Evită repetarea imaginii pe fundal */
}

.container {
    width: 800px;
    padding: 20px;
    background-color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100vh;
}

img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ed3290;
}

p {
    line-height: 1.6;
    font-size: 15px;
    background-color: rgba(248, 188, 215, 0.34);
    border-radius: 10px;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ed3290;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #c613da;
}

.diseaseBox {
    width: 40%;
    background-color: rgba(237, 50, 144, 0.71);
    margin: 2% auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.diseaseBox:hover {
    background-color: rgba(198, 19, 218, 0.64);
}

#result:empty {
    display: none;
}

